
/* 태그 영역 *******************************************************************/

html {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

body {
    width: 100%;
    overflow-x: hidden;
    letter-spacing: -0.03rem;
}

a {
    text-decoration: none;
    color: #fff;
    /* z-index: 999; */
}

nav {
    font-family: 'Raleway', sans-serif;
    z-index: 999;
}

section {
    border: 2px solid yellowgreen;
}




/* 내비게이션 영역 *************************************************************/

.global_nav {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
}

.local_nav {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0;
    top: 45px;
}

.global_nav_links{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.local_nav_links{
    display: flex;
    justify-content: right;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid #fff;

}

.local_nav_product_link {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.local_nav_link {
    margin-left: 1em;
}




/* 섹션0 영역 ******************************************************************/

.sec0_video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -99;
    filter: brightness(50%);
}

.sec0_txt {
    position: relative;
    /* width: 575px; */
    height: 100%;
    z-index: 500;

    color: #fff;
}

.sec0_txt_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sec0_txt_inner_title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0.25em;
    font-size: 7rem;
}

.sec0_txt_inner_subtitle{
    text-align: center;
    line-height: 1.8em;
    font-size: 1.3rem;
    font-weight: 300;
}