html {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

body {
    overflow-x: hidden;
    letter-spacing: -0.05rem;
    background-color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

/* 태그끼리 위에 먼저 코딩하므로
맨아래가 아니라 이곳에 위치시키자 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: orange;
    color: #292929;
    width: 100%;
    height: 5em;
}

.global-nav {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
    /* border: 1px solid red; */
}

.local-nav {
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0;
    top: 45px;
    /* border: 1px solid blue; */
}

.global-nav-links {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    /* background-color: lightpink; */
}

.local-nav-links {
    display: flex;
    justify-content: right;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid gray;
    /* background-color: lightblue; */
}

.local-nav-product-link {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.local-nav-link {
    margin-left: 1em;
}

.section-0-product-name {
    margin-top: 20rem;
}

.product-name {
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}

/* sticky 관련 요소 */
.sticky-element {
    display: none;
    position: fixed;
}

.section-0-canvas {
    left: 0;
    top: 0;
    z-index: -99;
}

/* 폰트, 위치, 마진 등 디자인 요소 */
.section0-message {
    opacity: 0;
    font-size: 4.5rem;
    font-weight: bold;
    width: 100%;
    height: 6em;
    left: 0;
    top: 5em;
    text-align: center;
}

.section1-message > p {
    font-size: 2.5rem;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 3em;
}

.section1-message strong {
    font-size: 4.5rem;
}

.scroll-section {
    border: 3px solid yellow;
}

#show-section0 .sticky-element {
    display: block;
}

.local-nav-sticky > .local-nav {
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid gray;
    
    /* 애플공홈에서 누군가가 따온 코드를 그대로 사용 */
    -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}

/* 이해 안됨 */
.local-nav-sticky .local-nav-links {
    border: none;
}