html {

    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #292929;
}

.local-nav-product-link {

    font-weight: bold;
    color: red;
}

.local-nav-link {

    color: gray;
}