
/* @font-face {
    font-family: 'YoonGothicPro750';
    src: url(./fonts/YoonGothicPro750.woff) format('woff'); 
} */

/* 태그 영역 *******************************************************************/

html {
    width: 100%;
    font-size: 14px;
    /* font-family: 'YoonGothicPro750'; */
    font-family: 'Noto Sans KR', sans-serif;
    color: #292929;
}

body {
    width: 100%;
    overflow-x: hidden;
    letter-spacing: -0.03rem;
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}


a {
    color: inherit;
    text-decoration: none;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

section {
    border: 2px solid magenta;
}

footer {
    background-color: #292929;
    color: #fff;
    font-size: 1.5rem;
    height: 300px;
    text-align: center;
}




/* 내비게이션 영역 *************************************************************/

.global_nav {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
}

.local_nav {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 45px;
}

.global_nav_links{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 5rem;
    align-items: center;
}

.local_nav_links{
    display: flex;
    justify-content: right;
    height: 100%;
    margin: 0 5rem;
    align-items: center;
    /* border-bottom: 1px solid #fff; */
}

.local_nav_product_link {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: auto;
    font-size: 2rem;
}

.local_nav_link {
    margin-left: 2em;
}

.local_nav_fixed > .local_nav {
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid #fff;
    
    -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}

.local_nav_fixed .local_nav_links {
    border: none;
}

/* 섹션0 이외에서 로컬내비 색상 변경 - font */
.local_nav_overSec0 {
    color: #292929;
    transition: all 0.5s ease;
}

/* 섹션0 이외에서 로컬내비 색상 변경 - border */
.local_nav_fixed > .local_nav_overSec0 {
    border-bottom: 1px solid #292929;
    transition: all 0.5s ease;
}

.scrollToTop {
    position: fixed;
    width:70px;
    height: 70px;
    right: 2%;
    bottom: 3%;
    z-index: 999;
    background: url(./image/scrollToTop_mono.png);
    border: none;
    outline: none;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.scrollToTop:hover {
    background: url(./image/scrollToTop_color.png);
}




/* 섹션0 영역 ******************************************************************/

#section_0 {
    position: relative;
    overflow: hidden;
}

.sec0_video > video {
    filter: brightness(50%);
    width: 100vw;    
    height: 100vh;
    object-fit: cover;
}

.sec0_txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: inherit;
    color: #fff;
    overflow: hidden;
}

.sec0_txt_title{
    position: absolute;
    left: 0;
    top: 13%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15rem;
    letter-spacing: -1.5rem;
    word-spacing: -0.5rem;
    font-weight: 400;
    opacity: 0.8;

    display: flex;
    animation: titleMoving 40s infinite linear;
    text-overflow: clip;
}

@keyframes titleMoving {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
}

.sec0_txt_title > div {
    flex-shrink: 0;
    margin-right: 3rem;
}

.sec0_txt_subtitle {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.sec0_txt_subtitle_left{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 40%;
    margin: 0 5rem;
    font-size: 1.6rem;
    line-height: 1.4;
    opacity: 0;
}

.sec0_txt_subtitle_right{
    position: absolute;
    right: 0;
    top: 40%;
    margin: 0 5rem;
    font-size: 1.6rem;
    opacity: 0;
    text-align: right;
    font-weight: 300;
}

.sec0_txt_subtitle_left_transY {
    top: 35%;
    opacity: 1;
    transition: all 1s ease 0.3s;
}

.sec0_txt_subtitle_right_transY {
    top: 35%;
    opacity: 1;
    transition: all 1s ease 0.6s;
}



/* 섹션1 영역 ******************************************************************/

.sticky_element {
    display: none;
    position: fixed;
}

.sec1_msg {
    opacity: 1;
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: -0.3rem;
    width: 100%;
    height: 4em;
    left: 0;
    top: calc(50% - 105px);
    text-align: center;
}

.sec1_msg.e > p > img {
    width: 40vw;
}

.sec1_img {
    opacity: 1;
    position: absolute;
    left: calc(25%);
    top: calc(30% - 105px);
    /* height: 4em; */
    z-index: -99;
}

#show_section1 .sticky_element {
    display: block;
    position: fixed;
}

.sec1_img.f {left: 10%;}
.sec1_img.g {left: 25%;}
.sec1_img.h {left: 40%;}
.sec1_img.i {left: 55%;}
.sec1_img.j {left: 58%;}



/* 섹션2 영역 ******************************************************************/

#section_2 {
    position: relative;
}

.sec2_wrap {
    position: absolute;
    left: 50%;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    transform: translateX(-50%);
    height: calc(inherit - 20%);
    /* margin: 0 5rem; */
}

.guide_box {
    position: relative;
    background-color: #006837;
    color: #fff;
    border-radius: 30px;
    width: 700px;
    height: 800px;
    margin: 2rem;
}

.guide_txt {
    position: absolute;
    left: 6%;
    top: 6%;
    z-index: 99;
}

.guide_img {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.guide_title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    opacity: 0.3;
}

.guide_subtitle_eng {
    font-family: 'Josefin Sans', sans-serif;
    word-spacing: -0.5rem;
    font-size: 5.5rem;
    font-weight: 300;
    letter-spacing: -0.25rem;
    line-height: 95%;
    /* margin-bottom: 1rem; */
}

.guide_subtitle_kor {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.7;
}